@import url('https://fonts.cdnfonts.com/css/geologica');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Geologica', sans-serif;
}

a {
    @apply text-seaBlue font-medium
}

.modal-overlay {
    @apply fixed top-0 left-0 w-full h-full flex justify-center items-center sm:py-8;
    background-color: rgba(151, 162, 190, 0.5);
}

.modal {
    @apply w-max bg-white h-screen sm:h-max sm:rounded-3xl overflow-scroll py-12 relative;
    max-height: 100%;
    box-shadow: 0 8px 48px 0 #0000661A;
}

@layer components {
    .button-primary-states {
        @apply rounded-full bg-seaBlue font-semibold text-white hover:bg-[#0035BE] focus:bg-[#2154D8] focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 disabled:bg-gray-300;
    }
    .button-secondary-states {
        @apply rounded-full bg-[#EAF0FF] font-semibold text-seaBlue hover:bg-[#0035BE] hover:text-white focus:bg-[#2154D8] focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 disabled:bg-gray-300;
    }
    .button-white-states {
        @apply rounded-full border border-[#E4E7F0] font-semibold text-[#506392];
    }
}

